services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Ds\Component\Tenant\:
    resource: ../../{Collection,Doctrine,EventListener,Repository,Service}

  Ds\Component\Tenant\EventListener\ContextListener:
    tags:
      - { name: kernel.event_listener, event: kernel.request, method: onPreAuthentication, priority: 255 }
      - { name: kernel.event_listener, event: kernel.request, method: onPostAuthentication, priority: 5 }

  Ds\Component\Tenant\EventListener\LoaderListener:
    tags:
      - { name: doctrine.orm.entity_listener, entity: Ds\Component\Tenant\Entity\Tenant, event: prePersist, priority: 2 }

  Ds\Component\Tenant\EventListener\UnloaderListener:
    tags:
      - { name: doctrine.orm.entity_listener, entity: Ds\Component\Tenant\Entity\Tenant, event: postRemove, priority: 2 }

  Ds\Component\Tenant\EventListener\Entity\TenantableListener:
    tags:
      - { name: doctrine.event_listener, event: prePersist }

  Ds\Component\Tenant\EventListener\Token\TenantListener:
    tags:
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: created }
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_decoded, method: decoded }

  Ds\Component\Tenant\Repository\TenantRepository:
    factory: ['@doctrine.orm.default_entity_manager', getRepository]
    arguments:
      - Ds\Component\Tenant\Entity\Tenant

  Ds\Component\Tenant\Service\TenantService:
    public: true # Used by doctrine listeners to avoid circular references.
