services:
  ds_tenant.event_listener.context:
    class: '%ds_tenant.event_listener.context.class%'
    arguments:
      - '@doctrine.orm.entity_manager'
      - '@ds_tenant.service.tenant'
    tags:
      - { name: kernel.event_listener, event: kernel.request, method: onPreAuthentication, priority: 255 }
      - { name: kernel.event_listener, event: kernel.request, method: onPostAuthentication, priority: 5 }

  ds_tenant.event_listener.entity.tenant:
    class: '%ds_tenant.event_listener.entity.tenant.class%'
    arguments:
      - '@service_container'
    tags:
      - { name: doctrine.orm.entity_listener, entity: '%ds_tenant.entity.tenant.class%', event: postPersist }

  ds_tenant.event_listener.entity.type.tenantable:
    class: '%ds_tenant.event_listener.entity.type.tenantable.class%'
    arguments:
      - '@service_container'
    tags:
      - { name: doctrine.event_listener, event: prePersist }

  ds_tenant.event_listener.token.tenant:
    class: '%ds_tenant.event_listener.token.tenant.class%'
    tags:
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_created, method: created }
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_jwt_decoded, method: decoded }
