services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  GuzzleHttp\ClientInterface:
    class: GuzzleHttp\Client

  Ds\Component\Discovery\:
    resource: ../../{Repository}

  Ds\Component\Discovery\Repository\:
    resource: ../../Repository
    arguments:
      - '@GuzzleHttp\ClientInterface'
      - '%ds_discovery.host%'
      - '%ds_discovery.credential%'
